<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ReRun TestCases" >
 
  <Listeners>
  <Listener class-name="RetryListner"></Listener>
  </Listeners>
  
  <test name="Test">
    <classes>
      <class name="TestLogin"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->